@font-face {
  font-family: 'kotraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.kotraBold{
  font-family: "kotraBold";
}
.ibm{
  font-family: 'IBMPlexSansKR-Regular';
}
.picture{
  width: 112px;
  height: 116px;
  border-radius: 20px;
}