@font-face {
  font-family: 'jangMi';
  src: url('../public/font/jangMi.ttf')
}
@font-face {
  font-family: 'anSsang';
  src: url('../public/font/anSsang.ttf')
}
@font-face {
  font-family: 'naNum';
  src: url('../public/font/NanumSquare_acR.ttf')
}
.jangMi{
  font-family: "jangMi";
}
.naNum{
  font-family: 'naNum';
}
.anSsang{
  font-family: 'anSsang';
}
.picture{
  width: 112px;
  height: 116px;
  border-radius: 20px;
}